<template>
  <view class="content">
    test 首页
    <button @click="toType">跳转分类</button>
  </view>
</template>

<script>
export default {
  setup() {
    const methods = {
      toType() {
          uni.bw_navigate({
              url: "/pages/detail/index?type=a",
              params: {
                id:10,
                name:'wxy'
              }
            })
           
      },
    };
    return {
      ...methods,
    };
  },
  data() {
    return {
      title: "Hello",
    };
  },
  onLoad() {},
  methods: {},
};
</script>

<style>
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 200rpx;
  width: 200rpx;
  margin-top: 200rpx;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50rpx;
}

.text-area {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 36rpx;
  color: #8f8f94;
}
</style>
