<template>
  <div>详情 ------{{ id }}</div>
</template>

<script>
export default {
  data() {
    return {
      id: 10,
    };
  },
  onLoad(option) {//小程序页面生命周期
    console.log(option);
  },
};
</script>

<style>
</style>