<template>
  <view class="shopCar">
    <view class="img">
      <image src="../../static/tabbarIcon/basket.png"></image>
    </view>
    <view class="txt"> 您还没有添加任何商品哦~ </view>

  </view>
</template>

<script>
export default {

};
</script>

<style>
</style>