<script>
import { login } from "@/api/user"
export default {
  onLaunch: function () {
    // 1. 拿到code 调各大平台定义的获取用户code的方法
    // 进入小程序请求一次，存入登录态
    uni.login().then(({code}) => {
      // wx.request
      login({principal: code}).then(res => {
        // 用户登录态存到本地存储
        uni.setStorageSync('access_token', res.access_token);
        uni.setStorageSync('token_type', res.token_type);
      })
    })
  },
  onShow: function () {
    console.log('App Show')
  },
  onHide: function () {
    console.log('App Hide')
  },
}
</script>

<style>
/*每个页面公共css */
</style>
